body{
  background-color: white;
}

.hide{ 
  background-color: white;
  border-radius: 5pt;
  text-align: center;
  position: absolute;
  margin: 0 auto;
  padding: 10px 20px;
  border: 1px solid #3BBFB9;
 
}

.cafe-txt{
  top: 70%;
  left: 24%;
   
}

.GuestServices-txt{
  top: 88%;
  left: 40%
}

.Kidsport-txt{
  top: 65%;
  left: 65%;
}

.Tugboat-txt{
  top: 88%;
  left: 55%;
   
    
}